/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/
a:not(.btn):not(.badge):hover, a:not(.btn):not(.badge):focus, a:not(.btn):not(.badge):active {
    color: #145cab; }
  
  /* ----------------------------------------------------------------
      Accordion
  -----------------------------------------------------------------*/
  .accordion.accordion-theme .ac-item {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
      Blockquotes
  -----------------------------------------------------------------*/
  .blockquote {
    border-left: 3px solid #145cab; }
  
  .blockquote-color {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------------
      Buttons
  -------------------------------------------------------------------------*/
  button.btn,
  .btn:not(.close):not(.mfp-close), a.btn:not([href]):not([tabindex]) {
    background-color: #145cab;
    border-color: #145cab; }
    button.btn:hover, button.btn:focus, button.btn:not(:disabled):not(.disabled):active, button.btn:not(:disabled):not(.disabled).active,
    .btn:not(.close):not(.mfp-close):hover,
    .btn:not(.close):not(.mfp-close):focus,
    .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled):active,
    .btn:not(.close):not(.mfp-close):not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]):hover, a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled).active {
      background-color: #145cab;
      border-color: #145cab; }
    button.btn.btn-outline,
    .btn:not(.close):not(.mfp-close).btn-outline, a.btn:not([href]):not([tabindex]).btn-outline {
      border-color: #145cab;
      color: #145cab; }
      button.btn.btn-outline:hover, button.btn.btn-outline:focus, button.btn.btn-outline:active, button.btn.btn-outline.active,
      .btn:not(.close):not(.mfp-close).btn-outline:hover,
      .btn:not(.close):not(.mfp-close).btn-outline:focus,
      .btn:not(.close):not(.mfp-close).btn-outline:active,
      .btn:not(.close):not(.mfp-close).btn-outline.active, a.btn:not([href]):not([tabindex]).btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-outline:active, a.btn:not([href]):not([tabindex]).btn-outline.active {
        background-color: #145cab;
        border-color: #145cab; }
    button.btn.btn-primary,
    .btn:not(.close):not(.mfp-close).btn-primary, a.btn:not([href]):not([tabindex]).btn-primary {
      background-color: #145cab;
      border-color: #145cab; }
      button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary:not(:disabled):not(.disabled):active, button.btn.btn-primary:not(:disabled):not(.disabled).active,
      .btn:not(.close):not(.mfp-close).btn-primary:hover,
      .btn:not(.close):not(.mfp-close).btn-primary:focus,
      .btn:not(.close):not(.mfp-close).btn-primary:not(:disabled):not(.disabled):active,
      .btn:not(.close):not(.mfp-close).btn-primary:not(:disabled):not(.disabled).active, a.btn:not([href]):not([tabindex]).btn-primary:hover, a.btn:not([href]):not([tabindex]).btn-primary:focus, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled):active, a.btn:not([href]):not([tabindex]).btn-primary:not(:disabled):not(.disabled).active {
        background-color: #145cab;
        border-color: #145cab; }
    button.btn.btn-icon-holder.btn-outline:before,
    .btn:not(.close):not(.mfp-close).btn-icon-holder.btn-outline:before, a.btn:not([href]):not([tabindex]).btn-icon-holder.btn-outline:before {
      border-left-color: #145cab; }
  
  /* ----------------------------------------------------------------------
      call-to-action (call to action)
  -------------------------------------------------------------------------*/
  .call-to-action.call-to-action-colored {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
  Carousels & Slider
  -----------------------------------------------------------------*/
  .inspiro-slider .flickity-button:hover {
    background-color: #145cab; }
  
  .carousel .flickity-button:hover {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
      Dropcat & Highlight
  -----------------------------------------------------------------*/
  .dropcap.dropcap-colored {
    background-color: #145cab; }
  
  .highlight.highlight-colored {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------------
  Forms
  -------------------------------------------------------------------------*/
  .form-control:focus,
  input:focus,
  select:focus {
    border-color: #145cab; }
  
  /* ----------------------------------------------------------------------
      Headings
  -------------------------------------------------------------------------*/
  .heading-text.heading-section > h2:before {
    background-color: #145cab; }
  
  .heading-creative strong {
    color: #145cab; }
  
  /* ----------------------------------------------------------------------
      Icon Box
  -------------------------------------------------------------------------*/
  .icon-box.effect.dark .icon i:after {
    box-shado: 0 0 0 3px #145cab; }
  .icon-box.effect.dark .icon i:hover, .icon-box.effect.dark:hover .icon i {
    background-color: #145cab; }
  
  .text-box.text-box-light:hover {
    background: #145cab; }
  
  .feature-box:hover h2,
  .feature-box:hover h3,
  .feature-box:hover h4 {
    color: #145cab; }
  
  /* ----------------------------------------------------------------
  Lables & Badgets
  -----------------------------------------------------------------*/
  .badge-primary {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------------
      Light Box
  -------------------------------------------------------------------------*/
  .mfp-ajax-holder .mfp-close:hover {
    background: #145cab; }
  
  /* ----------------------------------------------------------------------
      Lists & Bullet Lists
  -------------------------------------------------------------------------*/
  .list-colored li a {
    color: #145cab; }
  
  .list-legend li span {
    background-color: #145cab; }
  
  .list-icon.list-icon-colored li:before, .list-icon.icon-list-colored i {
    color: #145cab; }
  
  .list-group-item.active {
    background-color: #145cab;
    border: #145cab; }
  
  /* ----------------------------------------------------------------------
      Pagination & Pager
  -------------------------------------------------------------------------*/
  .post-navigation a:hover {
    color: #145cab; }
  
  /* ----------------------------------------------------------------------
      Pricing Table
  -------------------------------------------------------------------------*/
  .pricing-table.colored .plan-header {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------------
      Progress Bar
  -------------------------------------------------------------------------*/
  .p-progress-bar,
  .progress-bar {
    background-color: #145cab; }
  
  /*--------------------------------------------------------
       Tabs
  ---------------------------------------------------------*/
  .tabs .nav-tabs .nav-link.active {
    color: #145cab;
    border-bottom: 2px solid #145cab; }
  .tabs.tabs-vertical .nav-link.active {
    color: #145cab;
    border-right: 2px solid #145cab; }
  
  /* ----------------------------------------------------------------
      Date picker
  -----------------------------------------------------------------*/
  .datepicker tbody tr > td.day.today.active, .datepicker tbody tr > td.day.active, .datepicker tbody tr > td.day.selected {
    background: #145cab !important; }
    .datepicker tbody tr > td.day.today.active:hover, .datepicker tbody tr > td.day.active:hover, .datepicker tbody tr > td.day.selected:hover {
      background: #145cab; }
  .datepicker tbody tr > td.day.range.today {
    background: #145cab; }
  .datepicker tbody tr > td span.month.active {
    background: #145cab; }
    .datepicker tbody tr > td span.month.active:hover {
      background: #145cab; }
  
  .datetimepicker tbody tr > td.day.today,
  .datetimepicker table tr td.active:active,
  .datetimepicker table tr td.active:hover:active,
  .datetimepicker table tr td.active.disabled:active,
  .datetimepicker table tr td.active.disabled:hover:active,
  .datetimepicker table tr td.active.active,
  .datetimepicker table tr td.active:hover.active,
  .datetimepicker table tr td.active.disabled.active,
  .datetimepicker table tr td.active.disabled:hover.active,
  .datetimepicker table tr td span.active:active,
  .datetimepicker table tr td span.active:hover:active,
  .datetimepicker table tr td span.active.disabled:active,
  .datetimepicker table tr td span.active.disabled:hover:active,
  .datetimepicker table tr td span.active.active,
  .datetimepicker table tr td span.active:hover.active,
  .datetimepicker table tr td span.active.disabled.active,
  .datetimepicker table tr td span.active.disabled:hover.active {
    background: #145cab !important; }
  
  .datetimepicker table tr > td.today:hover,
  .datetimepicker table tr > td.today:hover:hover,
  .datetimepicker table tr > td.today.disabled:hover,
  .datetimepicker table tr > td.today.disabled:hover:hover,
  .datetimepicker table tr > td.today:active,
  .datetimepicker table tr > td.today:hover:active,
  .datetimepicker table tr > td.today.disabled:active,
  .datetimepicker table tr > td.today.disabled:hover:active,
  .datetimepicker table tr > td.today.active,
  .datetimepicker table tr > td.today:hover.active,
  .datetimepicker table tr > td.today.disabled.active,
  .datetimepicker table tr > td.today.disabled:hover.active,
  .datetimepicker table tr > td.today.disabled,
  .datetimepicker table tr > td.today:hover.disabled,
  .datetimepicker table tr > td.today.disabled.disabled,
  .datetimepicker table tr > td.today.disabled:hover.disabled,
  .datetimepicker table tr > td.today[disabled],
  .datetimepicker table tr > td.today:hover[disabled],
  .datetimepicker table tr > td.today.disabled[disabled],
  .datetimepicker table tr > td.today.disabled:hover[disabled] {
    background: #145cab !important; }
  
  .daterangepicker .daterangepicker_input .input-mini.active, .daterangepicker .daterangepicker_input .input-mini:focus {
    border: 1px solid #145cab; }
  .daterangepicker tbody td.today {
    background: #145cab; }
  .daterangepicker tbody td.active, .daterangepicker tbody td.in-range, .daterangepicker tbody td.active:hover, .daterangepicker tbody td.in-range:hover {
    background: #145cab; }
  .daterangepicker select.ampmselect.active, .daterangepicker select.ampmselect:focus {
    border: 1px solid #145cab; }
  .daterangepicker select.hourselect.active, .daterangepicker select.hourselect:focus {
    border: 1px solid #145cab; }
  .daterangepicker select.minuteselect.active, .daterangepicker select.minuteselect:focus {
    border: 1px solid #145cab; }
  .daterangepicker select.monthselect.active, .daterangepicker select.monthselect:focus {
    border: 1px solid #145cab; }
  .daterangepicker select.yearselect.active, .daterangepicker select.yearselect:focus {
    border: 1px solid #145cab; }
  .daterangepicker .calendar-time i {
    color: #b2b1c5; }
  .daterangepicker .ranges li.active {
    background: #145cab;
    border: 1px solid #145cab; }
  
  /* ----------------------------------------------------------------
      Date range picker
  -----------------------------------------------------------------*/
  .daterangepicker td.active:not(.off),
  .daterangepicker td.active:hover,
  .daterangepicker .active.end-date.in-range {
    background: #145cab !important; }
  
  input.daterange:after,
  input.dates:after {
    background: #145cab; }
  
  /* ----------------------------------------------------------------
      Bootstrap Switch
  -----------------------------------------------------------------*/
  .bootstrap-switch .bootstrap-switch-on,
  .bootstrap-switch .bootstrap-switch-handle-on,
  .bootstrap-switch .bootstrap-switch-handle-off {
    background-color: #145cab;
    border-color: #145cab; }
  
  .p-radio:checked + .p-radio-style:before {
    border: 1px solid #145cab;
    background: #145cab; }
  
  .p-checkbox:checked + .p-checkbox-style:before {
    border: #145cab;
    background: #145cab; }
  
  .p-switch > input[type="checkbox"]:checked + .p-switch-style {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
      Ion Range Sliders
  -----------------------------------------------------------------*/
  .irs-bar {
    background: #145cab; }
  
  .irs-from,
  .irs-to,
  .irs-single {
    background: #145cab; }
  
  .irs-from:after,
  .irs-to:after,
  .irs-single:after {
    border-top-color: #145cab; }
  
  /* ----------------------------------------------------------------
      Blog
  -----------------------------------------------------------------*/
  .post-item {
    /*Types*/ }
    .post-item .post-image .post-meta-category,
    .post-item .post-slider .post-meta-category,
    .post-item .post-video .post-meta-category,
    .post-item .post-audio .post-meta-category,
    .post-item .post-quote-img .post-meta-category {
      background-color: #145cab; }
    .post-item .post-quote-img .post-meta-category {
      color: #145cab; }
      .post-item .post-quote-img .post-meta-category a {
        color: #145cab; }
    .post-item.quote .post-item-wrap {
      background-color: #145cab; }
  
  .post-author a {
    color: #145cab; }
  
  /* ----------------------------------------------------------------
      Grid Filter
  -----------------------------------------------------------------*/
  .grid-filter li:hover a, .grid-filter li.active a {
    background-color: #145cab; }
  .grid-filter.gf-outline li:hover a, .grid-filter.gf-outline li.active a {
    border-color: #145cab;
    color: #145cab; }
  .grid-filter.gf-lines li:hover a, .grid-filter.gf-lines li.active a {
    color: #145cab; }
    .grid-filter.gf-lines li:hover a:after, .grid-filter.gf-lines li.active a:after {
      background-color: #145cab; }
  .grid-filter.gf-classic li:hover a, .grid-filter.gf-classic li.active a {
    background-color: #145cab; }
  .grid-filter.gf-default li:hover a, .grid-filter.gf-default li.active a {
    color: #145cab; }
  
  /*------------------------------------------------------
       Comments
  ------------------------------------------------------*/
  .comments .comment_number span {
    color: #145cab; }
  
  .respond-comment span {
    color: #145cab; }
  
  /*------------------------------------------------------
       Extras
  ------------------------------------------------------*/
  .item-link {
    color: #145cab; }
    .item-link:hover {
      color: #145cab; }
  
  .nav-link {
    color: #145cab; }
  
  .background-colored {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
  Scroll top
  -----------------------------------------------------------------*/
  #scrollTop:after, #scrollTop:before {
    background-color: #145cab; }
  
  .fc-event-primary.fc-event {
    background-color: #145cab;
    border-color: #145cab; }
  
  .icon-set-container .row > [class^="col-"] {
    color: #145cab; }
    .icon-set-container .row > [class^="col-"]:hover {
      background-color: #145cab; }
      .icon-set-container .row > [class^="col-"]:hover .icon-holder {
        color: #145cab; }
  
  /* ----------------------------------------------------------------
      Forum
  -----------------------------------------------------------------*/
  .forum thead tr > th {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
      Header
  -----------------------------------------------------------------*/
  #header {
      /* ----------------------------------------------------------------
  Main Menu
  -----------------------------------------------------------------*/ }
    #header.header-modern:not(.header-active).header-colored .header-inner,
    #header.header-modern:not(.header-active).header-colored #header-wrap {
      background-color: #145cab; }
    #header.header-colored .header-inner,
    #header.header-colored #header-wrap {
      background-color: #145cab; }
    #header #mainMenu nav > ul > li.hover-active > a,
    #header #mainMenu nav > ul > li.hover-active > span, #header #mainMenu nav > ul > li.current > a,
    #header #mainMenu nav > ul > li.current > span, #header #mainMenu nav > ul > li:hover > a,
    #header #mainMenu nav > ul > li:hover > span, #header #mainMenu nav > ul > li:focus > a,
    #header #mainMenu nav > ul > li:focus > span {
      color: #909090; }
    #header #mainMenu nav > ul > li .dropdown-menu > li > a:focus, #header #mainMenu nav > ul > li .dropdown-menu > li > a:hover, #header #mainMenu nav > ul > li .dropdown-menu > li > a:active,
    #header #mainMenu nav > ul > li .dropdown-menu > li > span:focus,
    #header #mainMenu nav > ul > li .dropdown-menu > li > span:hover,
    #header #mainMenu nav > ul > li .dropdown-menu > li > span:active,
    #header #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:focus,
    #header #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
    #header #mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:active {
      color: #145cab; }
    #header #mainMenu nav > ul > li .dropdown-menu > li.current > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li.current > span, #header #mainMenu nav > ul > li .dropdown-menu > li:hover > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li:hover > span, #header #mainMenu nav > ul > li .dropdown-menu > li:focus > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li:focus > span, #header #mainMenu nav > ul > li .dropdown-menu > li:active > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li:active > span, #header #mainMenu nav > ul > li .dropdown-menu > li.hover-active > a,
    #header #mainMenu nav > ul > li .dropdown-menu > li.hover-active > span {
      color: #145cab; }
    #header #mainMenu.menu-rounded nav > ul > li.current > a, #header #mainMenu.menu-rounded nav > ul > li:hover > a, #header #mainMenu.menu-rounded nav > ul > li:focus > a {
      background-color: #145cab; }
    #header #mainMenu.menu-outline nav > ul > li.current > a, #header #mainMenu.menu-outline nav > ul > li:hover > a, #header #mainMenu.menu-outline nav > ul > li:focus > a {
      color: #145cab;
      border-color: #145cab; }
    #header #mainMenu.menu-lines nav > ul > li.current > a, #header #mainMenu.menu-lines nav > ul > li:hover > a, #header #mainMenu.menu-lines nav > ul > li:focus > a {
      color: #145cab; }
      #header #mainMenu.menu-lines nav > ul > li.current > a:after, #header #mainMenu.menu-lines nav > ul > li:hover > a:after, #header #mainMenu.menu-lines nav > ul > li:focus > a:after {
        background-color: #145cab; }
    #header #mainMenu.menu-hover-background nav > ul > li.current, #header #mainMenu.menu-hover-background nav > ul > li:hover, #header #mainMenu.menu-hover-background nav > ul > li:focus {
      background-color: #145cab; }
    #header #shopping-cart > a .shopping-cart-items {
      background: #145cab; }
  
  /* ----------------------------------------------------------------
  Dots Menu
  -----------------------------------------------------------------*/
  #dotsMenu ul li:hover {
    background-color: #145cab; }
  #dotsMenu ul li.current {
    background-color: #145cab; }
  #dotsMenu ul li a:hover:before, #dotsMenu ul li a.active:before {
    background-color: #145cab; }
  
  /*Menu Dark*/
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > a:hover,
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > span:hover,
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover {
    color: #145cab; }
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > a,
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > span, #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > a,
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > span, #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > a,
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > span, #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > a,
  #mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > span {
    color: #145cab; }
  
  .page-menu nav > ul > li:hover > a, .page-menu nav > ul > li.active > a {
    color: #145cab; }
  .page-menu.menu-rounded nav > ul > li:hover > a, .page-menu.menu-rounded nav > ul > li.active > a {
    background-color: #145cab; }
  .page-menu.menu-outline nav > ul > li:hover > a, .page-menu.menu-outline nav > ul > li.active > a {
    border-color: #145cab;
    color: #145cab; }
  .page-menu.menu-lines nav > ul > li:hover > a, .page-menu.menu-lines nav > ul > li.active > a {
    color: #145cab; }
    .page-menu.menu-lines nav > ul > li:hover > a:after, .page-menu.menu-lines nav > ul > li.active > a:after {
      background-color: #145cab; }
  .page-menu.menu-solid nav > ul > li:hover > a, .page-menu.menu-solid nav > ul > li.active > a {
    background-color: #145cab; }
  
  @media (max-width: 1024px) {
    .page-menu.menu-rounded nav > ul > li:hover > a, .page-menu.menu-rounded nav > ul > li.active > a, .page-menu.menu-outline nav > ul > li:hover > a, .page-menu.menu-outline nav > ul > li.active > a, .page-menu.menu-lines nav > ul > li:hover > a, .page-menu.menu-lines nav > ul > li.active > a, .page-menu.menu-solid nav > ul > li:hover > a, .page-menu.menu-solid nav > ul > li.active > a, .page-menu.menu-light nav > ul > li:hover > a, .page-menu.menu-light nav > ul > li.active > a, .page-menu.menu-creative nav > ul > li:hover > a, .page-menu.menu-creative nav > ul > li.active > a, .page-menu.inverted nav > ul > li:hover > a, .page-menu.inverted nav > ul > li.active > a {
      color: #145cab; } }
  #search .btn-search-close {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
  Topbar
  -----------------------------------------------------------------*/
  #topbar.topbar-colored, #topbar.topbar-colored.dark {
    background-color: #145cab; }
  
  /* ----------------------------------------------------------------
  Helpers
  -----------------------------------------------------------------*/
  .text-theme {
    color: #145cab !important; }
  
  /* ----------------------------------------------------------------
  Portfolio
  -----------------------------------------------------------------*/
  .portfolio-item .portfolio-description a:hover i,
  .portfolio-item .grid-description a:hover i,
  .portfolio-item .portfolio-links a:hover i,
  .grid-item .portfolio-description a:hover i,
  .grid-item .grid-description a:hover i,
  .grid-item .portfolio-links a:hover i {
    background-color: #145cab;
    border: 1px solid #145cab; }
  
  /* ----------------------------------------------------------------
      Widgets
  -----------------------------------------------------------------*/
  .widget-tweeter li a,
  .widget-twitter li a {
    color: #145cab; }
  
  .tags a:hover, .tags a:focus, .tags a:active, .tags a.active {
    background-color: #145cab;
    border-color: #145cab; }
  
  /*# sourceMappingURL=theme.css.map */